[access]
	inheritFrom = Public-Plugins
[project]
	description = Server-side hooks executed on Gerrit events.
[access "refs/*"]
	owner = group google/gerritcodereview-maintainers@googlegroups.com
[receive]
[submit]
[label "Code-Review"]
	function = MaxWithBlock
	copyMinScore = true
	copyAllScoresOnTrivialRebase = true
	value = -2 Do not submit
	value = -1 I would prefer that you didn't submit this
	value = 0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me, approved
	defaultValue = 0
	ignoreSelfApproval = true
